div {
    width: 100px;
    height: 100px;
    background-color: darkgreen;
    position: relative;
    animation: mymovie 5s infinite;
}

div:hover {
    animation-play-state: paused;
}

@keyframes mymovie {
    from {left: 0px;}
    to {left: 400px;}
}